::-moz-placeholder { /* Mozilla Firefox 4 to 18 */
    color: #D9D9D9;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
    color: #D9D9D9;
}
input::-webkit-input-placeholder{
    color: #D9D9D9;
}

#change_pass {
    margin: 60px auto;
}
#change_pass:after{
    content:"."; 
    height:0; 
    visibility:hidden;
    display:block;
    clear:both;
}


.personal_right .change_content {
    margin-top: 50px;
}
.personal_right .change_content label{
    font-size: 16px;
    font-weight:600;
    padding-right:20px;
    width:150px;
    text-align: right;
    line-height: 80px;
}
.personal_right .change_content input {
    width: 338px;
    height: 38px;
    margin-right:20px;
    padding-left:10px;
    font-size: 16px;
    border-radius: 2px;
    border: 1px solid #E8E8E8;
    background-color: #FAFAFA;
}
.personal_right .change_content .change_pass .new_pass span:before, .personal_right .change_content .change_pass .sure_pass span:before{
    content: "*";
    display: inline-block;
    font-size: 16px;
    color: #FFAA00;
}
.change_content .change_pass .sub_pass .codePhone button{
    width:120px;
    height:40px;
    border:none;
    border-radius: 4px;
    font-size:16px;
    line-height: 40px;
    font-weight: 600;
    color:#FFF;
    margin:50px 0;
    background-color: #FFAA00;
}
.change_content>div:last-child {
    color:red;
}
.submit{
    width: 120px;
    height: 40px;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    line-height: 40px;
    font-weight: 600;
    color: #FFF;
    margin: 50px 0;
    background-color: #FFAA00;
}