@charset "UTF-8";

html, body{
  font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
  font-size: 14px;
  line-height: 1.4;
  width: 100%;
  min-width: 1200px; }
label {
  font-family:'Microsoft YaHei','Hiragino Sans GB',Helvetica,Arial,'Lucida Grande',sans-serif;
}
body {
  -webkit-text-size-adjust: none;
  -webkit-tap-highlight-color: transparent; }

h1, h2, h3, h4, h5, h6, figure {
  color: #000;
  font-family: "Work Sans", Arial, sans-serif;
  font-weight: 500;
  margin: 0 0 20px 0; }

a {
  color: #333333;
  -webkit-transition: 0.2s;
  transition: 0.2s; }

a:hover, a:active, a:focus {
  color: #333;
  outline: none;
  text-decoration: none; }

p {
  margin-bottom: 20px;
  color: #3d3d3d; }

.copyrights {
  text-indent: -9999px;
  height: 0;
  line-height: 0;
  font-size: 0;
  overflow: hidden; }

.clear {
  zoom: 1; }
  .clear:before, .clear:after {
    content: " ";
    display: table; }
  .clear:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0; }

.ellipsis {
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis; }

#loading__warp {
  display: none;
  position: fixed;
  left: 50%;
  top: 50%;
  width: 40px;
  height: 40px;
  margin-left: -72px;
  margin-top: -70px;
  z-index: 9999999;
  border-radius: 20px; }

.container {
  max-width: 1200px;
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
  zoom: 1; }
  .container:before, .container:after {
    content: " ";
    display: table; }
  .container:after {
    clear: both;
    visibility: hidden;
    font-size: 0;
    height: 0; }

.text-center {
  text-align: center; }

.text-left {
  text-align: left; }

.text-right {
  text-align: right; }

h1, .h1 {
  font-size: 36px; }

h2, .h2 {
  font-size: 30px; }

h3, .h3 {
  font-size: 24px; }

h4, .h4 {
  font-size: 18px; }

h5, .h5 {
  font-size: 14px; }

h6, .h6 {
  font-size: 12px; }

.btn {
  display: inline-block;
  margin-bottom: 0;
  line-height: 1;
  font-weight: normal;
  text-align: center;
  vertical-align: middle;
  -ms-touch-action: manipulation;
      touch-action: manipulation;
  cursor: pointer;
  background-image: none;
  border: 1px solid transparent;
  white-space: nowrap;
  padding: 10px 20px;
  font-size: 18px;
  border-radius: 6px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none; }

.btn-primary {
  color: #fff;
  background-color: #337ab7;
  border-color: #2e6da4; }

/* 导航 */
#navigation {
  position: relative;
  width: 100%;
  height: 100%; }
  #navigation .page__title {
    margin: 0px;
    padding: 0px;
    width: 100%;
    padding: 0;
    z-index: 1001; }
    #navigation .page__title .page__title--warp {
      background: #3d3d3d;
      padding: 4px 0;
      margin-bottom: 0; }
      #navigation .page__title .page__title--warp .num, #navigation .page__title .page__title--warp .social {
        display: inline-block;
        margin: 0; }
      #navigation .page__title .page__title--warp .num {
        font-size: 13px;
        padding-right: 20px;
        margin-right: 10px;
        display: inline-block;
        letter-spacing: 0px;
        color: rgba(255, 255, 255, 0.7); }
        #navigation .page__title .page__title--warp .num .super {
          position: relative;
          top: -6px;
          padding-right: 4px; }
      #navigation .page__title .page__title--warp .social {
        position: relative;
        margin-left: 24px; }
        #navigation .page__title .page__title--warp .social a {
          display: inline-block;
          position: relative;
          padding: 0 2px;
          font-size: 13px;
          vertical-align: middle;
          color: #e5e5e5;
          cursor: pointer; }
          #navigation .page__title .page__title--warp .social a:hover {
            color: #fba500; }
      #navigation .page__title .page__title--warp #lung_buycar {
        display: none;
        position: absolute;
        width: 280px;
        left: -110px;
        top: 25px;
        z-index: 999999;
        border: 1px solid #ebebeb; }
        #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--title {
          text-align: left;
          padding: 10px;
          color: #333;
          background-color: white;
          font-weight: bold; }
        #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--content {
          background-color: #fff;
          text-align: center;
          min-height: 40px;
          color: #333; }
          #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--content .lung_buycar--item {
            float: left;
            padding: 8px;
            padding-right: 12px;
            width: 100%;
            background-color: white;
            border-bottom: 1px solid #ebebeb; }
            #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--content .lung_buycar--item .order__content {
              display: table;
              float: left;
              zoom: 1; }
              #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--content .lung_buycar--item .order__content img {
                height: 54px;
                width: 54px;
                margin-right: 12px; }
              #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--content .lung_buycar--item .order__content .content {
                display: table-cell;
                vertical-align: top;
                text-align: left; }
            #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--content .lung_buycar--item .order__show {
              text-align: right; }
              #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--content .lung_buycar--item .order__show .order__delete {
                margin-top: 14px;
                cursor: pointer; }
                #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--content .lung_buycar--item .order__show .order__delete:hover {
                  color: #fba500; }
            #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--content .lung_buycar--item:hover {
              background-color: #f5f5f5; }
        #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--total {
          text-align: left;
          background-color: #f5f5f5;
          color: #666;
          padding: 4px 10px; }
          #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--total .total {
            float: left;
            padding-top: 6px; }
            #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--total .total .number {
              color: #666; }
            #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--total .total .price {
              margin-left: 10px; }
          #navigation .page__title .page__title--warp #lung_buycar .lung_buycar--total .gotocat {
            float: right;
            color: white;
            padding: 4px 5px;
            background-color: #fba500;
            border: 1px solid #fba500;
            margin-left: 10px; }
    #navigation .page__title .page__title--menu {
      border-bottom: 4px solid #35d4a0; }
      #navigation .page__title .page__title--menu .logo {
        font-size: 14px;
        margin: 0px;
        padding: 0px;
        text-transform: uppercase;
        font-weight: bold;
        font-weight: 700;
        font-family: "Work Sans", Arial, sans-serif; }
      #navigation .page__title .page__title--menu .navbar {
        margin-bottom: 0;
        border: none; }
        #navigation .page__title .page__title--menu .navbar:before, #navigation .page__title .page__title--menu .navbar:after {
          content: " ";
          display: table; }
        #navigation .page__title .page__title--menu .navbar .navbar-header {
          float: left; }
          #navigation .page__title .page__title--menu .navbar .navbar-header span {
            display: block;
            width: 22px;
            height: 2px;
            border-radius: 1px;
            background-color: #888; }
        #navigation .page__title .page__title--menu .navbar .navbar-brand {
          float: left;
          padding: 17.5px 15px;
          font-size: 18px;
          line-height: 20px;
          height: 55px; }
          #navigation .page__title .page__title--menu .navbar .navbar-brand img {
            position: relative;
            top: -6px; }
        #navigation .page__title .page__title--menu .navbar .navbar-nav {
          float: right; }
          @media screen and (max-width: 768px) {
            #navigation .page__title .page__title--menu .navbar .navbar-nav {
              float: none; } }
          #navigation .page__title .page__title--menu .navbar .navbar-nav li {
            display: block;
            float: left;
            position: relative; }
            #navigation .page__title .page__title--menu .navbar .navbar-nav li a {
              display: block;
              position: relative;
              padding: 29px 10px;
              font-size: 18px;
              line-height: 20px;
              color: #666;
              text-transform: uppercase;
              letter-spacing: 2px; }
            #navigation .page__title .page__title--menu .navbar .navbar-nav li.active {
              background: rgba(53, 212, 160, 0.2); }
              #navigation .page__title .page__title--menu .navbar .navbar-nav li.active a {
                color: #35d4a0; }
            #navigation .page__title .page__title--menu .navbar .navbar-nav li.first a {
              padding: 29px 30px; }
            #navigation .page__title .page__title--menu .navbar .navbar-nav li .dropdown-menu {
              position: absolute;
              top: 100%;
              left: -14px;
              z-index: 1000;
              display: none;
              float: left;
              min-width: 110px;
              margin: 2px 0 0;
              list-style: none;
              font-size: 14px;
              text-align: left;
              background-color: #fff;
              border: 1px solid #ccc;
              border: 1px solid rgba(0, 0, 0, 0.15);
              border-radius: 4px;
              box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
              background-clip: padding-box; }
              #navigation .page__title .page__title--menu .navbar .navbar-nav li .dropdown-menu li {
                width: 100%;
                text-align: center; }
                #navigation .page__title .page__title--menu .navbar .navbar-nav li .dropdown-menu li a {
                  padding: 10px 10px;
                  font-size: 18px;
                  color: #666; }
                  #navigation .page__title .page__title--menu .navbar .navbar-nav li .dropdown-menu li a:hover {
                    background: rgba(53, 212, 160, 0.2);
                    color: #35d4a0; }

/* 底部 */
#footer {
  position: relative;
  width: 100%;
  background-color: #3d3d3d;
  min-height: 300px;
  text-align: center; }
  #footer ul {
    position: relative;
    vertical-align: middle; }
    #footer ul li {
      display: inline-block; }
      #footer ul li:last-child a, #footer ul li:first-child a {
        border-color: transparent; }
  #footer .footer-title a {
    display: inline-block;
    padding: 0px 40px;
    margin: 10px 0;
    border-right: 1px solid  #4d4d4d;
    font-size: 14px;
    color: white; }
    #footer .footer-title a.logo {
      position: relative;
      top: 40px;
      margin-right: 40px; }
  #footer .footer-icons {
    position: relative;
    margin-top: 50px;
    font-size: 16px;
    border-bottom: 1px solid #4c4c4c;
    padding-bottom: 20px; }
    #footer .footer-icons i {
      display: inline-block;
      margin: 10px  50px;
      color: white;
      font-size: 36px; }
      #footer .footer-icons i:hover {
        color: #35d4a0; }
    #footer .footer-icons .show_title {
      position: absolute;
      display: inline-block;
      padding: 10px 20px;
      color: #35d4a0;
      border: 1px solid #35d4a0; }
  #footer .tagging {
    position: absolute;
    left: 50%;
    margin-left: -56px;
    bottom: 0;
    color: white;
    font-size: 12px; }
  #footer .icon-wechats {
    position: relative; }
    #footer .icon-wechats:hover>img{
      display:inline-block;
    }
    #footer .icon-wechats img {
      display: none;
      position: absolute;
      left: -33px;
      top: -108px; }

/* 回到顶部 */
.gototop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 999;
  opacity: 0;
  visibility: hidden;
  -webkit-transition: 0.5s;
  transition: 0.5s; }
  .gototop.active {
    opacity: 1;
    visibility: visible; }
  .gototop a {
    width: 50px;
    height: 50px;
    display: table;
    background: rgba(0, 0, 0, 0.5);
    color: #fff;
    text-align: center;
    border-radius: 4px; }
    .gototop a i {
      height: 50px;
      display: table-cell;
      vertical-align: middle; }

.slidNav {
  background-color: #fafafa;
  min-height: 700px;
  margin-right: 20px; }
  .slidNav .infor__picbox {
    padding-top: 66px; }
    .slidNav .infor__picbox img {
      width: 160px;
      width: 160px;
      border-radius: 50%; }
    .slidNav .infor__picbox .infor__name {
      margin-top: 10px; }
  .slidNav .slidNav--wrp {
    margin-top: 70px; }
    .slidNav .slidNav--wrp .infor__item {
      position: relative;
      line-height: 1.6;
      padding: 4px 0 4px 30px;
      margin-bottom: 15px; }
      .slidNav .slidNav--wrp .infor__item span {
        display: inline-block;
        width: 20px;
        height: 16px;
        margin-right: 10px; }
      .slidNav .slidNav--wrp .infor__item a {
        position: relative;
        margin-left: 10px;
        color: #999;
        font-size: 16px; }
      .slidNav .slidNav--wrp .infor__item.active a, .slidNav .slidNav--wrp .infor__item.active i {
        color: #000; }
      .slidNav .slidNav--wrp .infor__item.active:after {
        display: inline-block;
        position: absolute;
        content: '';
        top: 0;
        left: 0;
        height: 100%;
        width: 3px;
        background: #35d4a0; }

/* 特点介绍*/
.step__warp {
  width: 100%;
  background-color: #fafafa;
  padding: 34px 18px;
  min-height: 700px; }
  .step__warp .step__title {
    border-bottom: 1px solid #e6e6e6;
    padding-bottom: 14px;
    padding-left: 16px;
    font-size: 20px;
    color: #666; }
    .step__warp .step__title span {
      display: inline-block;
      float: right;
      cursor: pointer;
      font-size: 14px;
      color: #35d4a0; }
      .step__warp .step__title span.step__title--tag {
        width: 22px;
        height: 22px;
        background: url("../images/changepass-change.png")/*tpa=https://www.lunghealthbiotech.com/public/public/images/changepass-change.png*/ no-repeat center center;
        background-size: cover; }
  .step__warp .step__content .step__title--sub {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
    -webkit-justify-content: space-between;
        -ms-flex-pack: justify;
            justify-content: space-between;
    align-items: center;
    position: relative;
    border-bottom: 2px solid #e6e6e6; }
    .step__warp .step__content .step__title--sub .step__title--item {
      -webkit-box-flex: 1;
      -webkit-flex: 1 0 0;
          -ms-flex: 1 0 0px;
              flex: 1 0 0;
      position: relative;
      text-align: center; }
      .step__warp .step__content .step__title--sub .step__title--item .step__nav {
        display: inline-block;
        position: relative;
        vertical-align: middle; }
        .step__warp .step__content .step__title--sub .step__title--item .step__nav span {
          display: inline-block;
          list-style: none;
          position: relative;
          top: 17px;
          width: 22px;
          height: 22px;
          background-color: #999;
          border-radius: 50%;
          color: #fff;
          vertical-align: middle;
          line-height: 22px; }
        .step__warp .step__content .step__title--sub .step__title--item .step__nav a {
          display: inline-block;
          margin-left: 8px;
          vertical-align: text-top;
          padding: 14px 0;
          color: #999;
          font-size: 18px; }
        .step__warp .step__content .step__title--sub .step__title--item .step__nav em {
          display: block;
          position: absolute;
          margin: 0 auto;
          width: 100%;
          left: 5px;
          height: 2px;
          background: #999; }
      .step__warp .step__content .step__title--sub .step__title--item.active span {
        background-color: #35d4a0; }
      .step__warp .step__content .step__title--sub .step__title--item.active a {
        color: #35d4a0; }
      .step__warp .step__content .step__title--sub .step__title--item.active em {
        background-color: #35d4a0; }
  .step__warp .step__content .step__content--warp {
    margin: 20px auto;
    width: 80%;
    display: none; }
    .step__warp .step__content .step__content--warp.first {
      display: block; }
  .step__warp .step__content .step__success {
    position: relative;
    margin-top: 80px;
    text-align: center; }
    .step__warp .step__content .step__success .word {
      position: absolute;
      left: 307px;
      top: 225px;
      color: white; }

/* 内容整体 */
.slid__warp {
  position: relative;
  margin-top: 20px;
  margin-bottom: 10px;
  min-width: 992px;
  min-height: 767px; }
  .slid__warp .slid__content {
    width: 100%;
    background-color: #fafafa;
    min-height: 700px;
    padding: 34px 18px;
    margin-bottom: 10px; }
    .slid__warp .slid__content ul {
      padding: 0 18px; }
    .slid__warp .slid__content .slid__title {
      border-bottom: 1px solid #e6e6e6;
      padding-bottom: 14px;
      padding-left: 16px;
      margin-bottom: 30px;
      font-size: 20px;
      font-weight: 800;
      color: #333; }
      .slid__warp .slid__content .slid__title .slid__title--tag {
        display: inline-block;
        float: right;
        cursor: pointer;
        font-size: 14px;
        color: #35d4a0; }

/* 内容展示项 */
.bl-item-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 10px 18px;
  background-color: #fafafa;
  margin-bottom: 20px; }
  .bl-item-group span {
    display: inline-block;
    min-width: 60px;
    text-align: right;
    margin-right: 12px;
    font-weight: 400; }
    .bl-item-group span.radio {
      min-width: 30px;
      margin-right: 18px; }
  .bl-item-group input {
    width: 80%;
    border: 1px solid #e6e6e6;
    font-size: 14px;
    padding: 8px 16px;
    background-color: white; }

/* 表格包围项 */
.bl-form-group {
  position: relative;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
  -webkit-align-items: center;
      -ms-flex-align: center;
          align-items: center;
  height: 40px;
  padding: 10px 0;
  padding: 0px\9\0;
  padding-left: 18px;
  background-color: #fafafa;
  margin-bottom: 20px; }
  .bl-form-group .bl-form__title {
    display: inline-block;
    min-width: 60px;
    text-align: right;
    margin-right: 12px;
    font-weight: 400; }
  .bl-form-group .bl-form-item {
    position: relative; }
  .bl-form-group .title {
    display: inline-block;
    min-width: 80px;
    text-align: right;
    margin-right: 12px;
    font-weight: 400; }
    .bl-form-group .title.radio {
      min-width: 10px;
      margin-right: 33px;
      text-align: left; }
  .bl-form-group input {
    width: 90%;
    font-size: 14px;
    border: 1px solid #e6e6e6;
    padding: 8px 10px;
    background-color: white; }
  .bl-form-group .radio-box {
    display: inline-block;
    position: relative;
    width: 14px;
    height: 14px;
    border: 2px solid #e6e6e6;
    border-radius: 50%; }
    .bl-form-group .radio-box em {
      display: inline-block;
      position: absolute;
      top: 0px;
      left: 0px;
      height: 10px;
      width: 10px;
      border-radius: 50%; }
    .bl-form-group .radio-box.active em {
      background-color: #35d4a0; }
  .bl-form-group input[type='radio'] {
    visibility: hidden;
    opacity: 0;
    width: 0; }
  .bl-form-group.code {
    width: 150px; }
    .bl-form-group.code img {
      position: absolute;
      left: 160px;
      top: 8px;
      width: 124px;
      height: 25px;
      margin-right: 2px; }
    .bl-form-group.code span {
      position: absolute;
      left: 305px;
      top: 12px;
      width: 100px;
      height: 14px;
      color: #35d4a0;
      cursor: pointer; }
  .bl-form-group.overheight {
    -webkit-box-align: baseline;
    -webkit-align-items: baseline;
        -ms-flex-align: baseline;
            align-items: baseline;
    height: inherit; }
    .bl-form-group.overheight textarea {
      border: 1px solid #e6e6e6; }
  .bl-form-group p.error, .bl-form-group label.error {
    position: absolute;
    color: #C00;
    font-size: 22px;
    left: -10px;
    top: 12px;
    height: 10px;
    line-height: 26px;
    margin-bottom: 0;
    font-weight: 400;
    -webkit-box-align: start;
    -webkit-align-items: flex-start;
        -ms-flex-align: start;
            align-items: flex-start; }

/* 分割线 */
.bl-form-title {
  padding-bottom: 14px;
  margin-bottom: 30px;
  font-size: 20px;
  font-weight: 800;
  border-bottom: 1px solid #e6e6e6;
  color: #333; }

/* 表格中的按钮 */
.btn-wap {
  margin-top: 40px; }
  .btn-wap .logout {
    background-color: white;
    padding: 10px 46px;
    background-color: #35d4a0;
    color: white;
    border-color: #35d4a0; }

.ol-modal-container {
  position: fixed;
  top: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.2);
  width: 100%;
  height: 100%;
  z-index: 999999999; }

.ol-modal {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-left: -210px;
  margin-top: -130px;
  width: 420px;
  height: 260px;
  background-color: #fff;
  overflow: hidden;
  border-radius: 8px; }

.ol-modal-icon {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 1.5rem;
  line-height: 1.5rem; }

.ol-modal-title {
  color: #333;
  padding: 15px 20px;
  font-size: 20px;
  background-color: #f0f0f0; }

.ol-modal-content {
  word-wrap: break-word;
  word-break: normal;
  line-height: 1.5;
  padding: 36px;
  color: #666; }

.ol-modal-close {
  text-align: center;
  padding: 0 35px;
  color: #ccc; }
  .ol-modal-close .close, .ol-modal-close .success {
    font-size: 16px;
    padding: 10px 50px;
    color: #fff;
    border-color: #35d4a0; }
  .ol-modal-close .success {
    background-color: #35d4a0; }
  .ol-modal-close .close {
    background-color: white;
    color: #35d4a0;
    margin-left: 60px; }
  .ol-modal-close span {
    color: #b2b2b2; }

.modal-enter, .modal-leave-active {
  opacity: 0;
  -webkit-transform: translateY(-100px);
      -ms-transform: translateY(-100px);
          transform: translateY(-100px); }

.modal-enter-active, .list-leave-active {
  -webkit-transition: all .5s ease;
  transition: all .5s ease; }

.col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
  float: left; }

.col-md-1 {
  width: 8.33333%; }

.col-md-2 {
  width: 16.66667%; }

.col-md-3 {
  width: 25%; }

.col-md-4 {
  width: 33.33333%; }

.col-md-5 {
  width: 41.66667%; }

.col-md-6 {
  width: 50%; }

.col-md-7 {
  width: 58.33333%; }

.col-md-8 {
  width: 66.66667%; }

.col-md-9 {
  width: 75%; }

.col-md-10 {
  width: 83.33333%; }

.col-md-11 {
  width: 91.66667%; }

.col-md-12 {
  width: 100%; }

.col-md-offset-1 {
  margin-left: 8.33333%; }

.col-md-offset-2 {
  margin-left: 16.66667%; }

.col-md-offset-3 {
  margin-left: 25%; }

.col-md-offset-4 {
  margin-left: 33.33333%; }

.col-md-offset-5 {
  margin-left: 41.66667%; }

.col-md-offset-6 {
  margin-left: 50%; }

.col-md-offset-7 {
  margin-left: 58.33333%; }

.col-md-offset-8 {
  margin-left: 66.66667%; }

.col-md-offset-9 {
  margin-left: 75%; }

.col-md-offset-10 {
  margin-left: 83.33333%; }

.col-md-offset-11 {
  margin-left: 91.66667%; }

.col-md-offset-12 {
  margin-left: 100%; }

.crumbs_warp {
  margin-bottom: 10px; }
  .crumbs_warp a {
    display: inline-block;
    margin-right: 5px; }
    .crumbs_warp a.active {
      color: #fba500; }

.am-selected-list {
  padding: 0 !important; }
  .am-selected-list .am-icon-check {
    color: #f6f6f6 !important; }

.am-datepicker td {
  font-size: 1rem; }

.am-datepicker tr.am-datepicker-header {
  background: #35d4a0; }

.am-datepicker-caret {
  border-bottom: 7px solid #35d4a0; }

.am-datepicker td.am-datepicker-old, .am-datepicker td.am-datepicker-new {
  color: #35d4a0; }

.am-datepicker td.am-active, .am-datepicker td.am-active:hover {
  color: #35d4a0; }

.am-btn, .am-selected-text {
  font-size: 1.1rem; }

.am-selected-btn {
  background-color: white !important; }

.am-datepicker .am-datepicker-dow {
  color: #333; }

.am-datepicker-select:hover {
  color: white;
  background-color: #35d4a0; }

.am-selected-status {
  color: #b2b2b2; }

.am-popover-inner {
  font-size: 14px;
  background: #3d3d3d;
  padding: 10px 20px;
  color: #35d4a0;
  border: 1px solid #35d4a0; }

.am-popover-caret {
  border-bottom: 8px solid #35d4a0; }

input[color="color"]::-webkit-input-placeholder {
  /* WebKit browsers */
  color: #b2b2b2; }

input[color="color"]:-moz-placeholder {
  /* Mozilla Firefox 4 to 18 */
  color: #b2b2b2; }

input[color="color"]::-moz-placeholder {
  /* Mozilla Firefox 19+ */
  color: #b2b2b2; }

input[color="color"]:-ms-input-placeholder {
  /* Internet Explorer 10+ */
  color: #b2b2b2; }

.ol-pagination__warp {
  text-align: center;
  margin-bottom: 20px;
  margin-top: 100px; }
  .ol-pagination__warp a, .ol-pagination__warp .current {
    display: inline-block;
    padding: 8px 14px;
    text-align: center;
    border: 1px solid #e6e6e6;
    background-image: none;
    background-color: #fff;
    cursor: pointer;
    white-space: normal;
    vertical-align: middle;
    font-size: 16px;
    border-radius: 10px;
    margin-right: 10px;
    outline: none;
    color: #333;
    -webkit-transition: background 0.2s;
    transition: background 0.2s;
    -ms-touch-action: manipulation;
        touch-action: manipulation; }
    .ol-pagination__warp a:hover, .ol-pagination__warp .current:hover {
      color: white;
      background: #fba500;
      border-color: #fba500; }
  .ol-pagination__warp .current {
    color: white;
    background: #fba500; }

svg {
  height: 100%;
  width: 100%; }

.g-circles {
  -webkit-transform: scale(0.9) translate(7px, 7px);
  -ms-transform: scale(0.9) translate(7px, 7px);
  transform: scale(0.9) translate(7px, 7px); }

circle {
  fill: #35d4a0;
  fill-opacity: 0;
  -webkit-animation: opacity 1.2s linear infinite;
  animation: opacity 1.2s linear infinite; }

circle:nth-child(12n + 1) {
  -webkit-animation-delay: -0.1s;
  animation-delay: -0.1s; }

circle:nth-child(12n + 2) {
  -webkit-animation-delay: -0.2s;
  animation-delay: -0.2s; }

circle:nth-child(12n + 3) {
  -webkit-animation-delay: -0.3s;
  animation-delay: -0.3s; }

circle:nth-child(12n + 4) {
  -webkit-animation-delay: -0.4s;
  animation-delay: -0.4s; }

circle:nth-child(12n + 5) {
  -webkit-animation-delay: -0.5s;
  animation-delay: -0.5s; }

circle:nth-child(12n + 6) {
  -webkit-animation-delay: -0.6s;
  animation-delay: -0.6s; }

circle:nth-child(12n + 7) {
  -webkit-animation-delay: -0.7s;
  animation-delay: -0.7s; }

circle:nth-child(12n + 8) {
  -webkit-animation-delay: -0.8s;
  animation-delay: -0.8s; }

circle:nth-child(12n + 9) {
  -webkit-animation-delay: -0.9s;
  animation-delay: -0.9s; }

circle:nth-child(12n + 10) {
  -webkit-animation-delay: -1s;
  animation-delay: -1s; }

circle:nth-child(12n + 11) {
  -webkit-animation-delay: -1.1s;
  animation-delay: -1.1s; }

circle:nth-child(12n + 12) {
  -webkit-animation-delay: -1.2s;
  animation-delay: -1.2s; }

.g-circles--v2 circle {
  fill-opacity: 0;
  stroke-opacity: 0;
  stroke-width: 1;
  stroke: yellowgreen;
  -webkit-animation-name: opacity-stroke, colors, colors-stroke, transform-2;
  animation-name: opacity-stroke, colors, colors-stroke, transform-2; }

.g-circles--v3 circle {
  fill-opacity: 1;
  -webkit-animation-name: opacity, colors;
  animation-name: opacity, colors; }

.g-circles--v4 circle {
  fill-opacity: 1;
  fill: orange;
  -webkit-transform-origin: 60px 60px;
  -ms-transform-origin: 60px 60px;
  transform-origin: 60px 60px;
  -webkit-animation-name: opacity, colors-3, transform;
  animation-name: opacity, colors-3, transform; }

@-webkit-keyframes opacity {
  3% {
    fill-opacity: 1; }
  75% {
    fill-opacity: 0; } }

@keyframes opacity {
  3% {
    fill-opacity: 1; }
  75% {
    fill-opacity: 0; } }

@-webkit-keyframes opacity-stroke {
  10% {
    stroke-opacity: 1; }
  85% {
    stroke-opacity: 0; } }

@keyframes opacity-stroke {
  10% {
    stroke-opacity: 1; }
  85% {
    stroke-opacity: 0; } }

@-webkit-keyframes colors {
  0% {
    fill: yellowgreen; }
  10% {
    fill: gold; }
  75% {
    fill: crimson; } }

@keyframes colors {
  0% {
    fill: yellowgreen; }
  10% {
    fill: gold; }
  75% {
    fill: crimson; } }

@-webkit-keyframes colors-stroke {
  0% {
    stroke: yellowgreen; }
  10% {
    stroke: gold; }
  75% {
    stroke: crimson; } }

@keyframes colors-stroke {
  0% {
    stroke: yellowgreen; }
  10% {
    stroke: gold; }
  75% {
    stroke: crimson; } }

@-webkit-keyframes colors-2 {
  0% {
    fill: yellow; }
  50% {
    fill: red; }
  65% {
    fill: orangered; }
  95% {
    fill: gold; } }

@keyframes colors-2 {
  0% {
    fill: yellow; }
  50% {
    fill: red; }
  65% {
    fill: orangered; }
  95% {
    fill: gold; } }

@-webkit-keyframes colors-3 {
  0% {
    fill: yellowgreen; }
  50% {
    fill: turquoise; }
  65% {
    fill: yellow; }
  95% {
    fill: orange; } }

@keyframes colors-3 {
  0% {
    fill: yellowgreen; }
  50% {
    fill: turquoise; }
  65% {
    fill: yellow; }
  95% {
    fill: orange; } }

@-webkit-keyframes transform {
  10% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); } }

@keyframes transform {
  10% {
    -webkit-transform: scale(0.75);
    transform: scale(0.75); } }

@-webkit-keyframes transform-2 {
  40% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85); }
  60% {
    stroke-width: 20; } }

@keyframes transform-2 {
  40% {
    -webkit-transform: scale(0.85);
    transform: scale(0.85); }
  60% {
    stroke-width: 20; } }

